<div>
    <h1>{{ section.settings.unique1 | escape }}</h1>
    {% for block in section.blocks %}
        {% case block.type %}
            {% when 'block-1' %}
                <h2>{{ block.settings.unique | escape}}</h2>
        {%endcase%}
    {%endfor%}
</div>

{% schema %}
{
    "name": "t:sections.text.name",
    "tag": "section",
    "class": "spaced-section",
    "settings": [
      {
        "type":"text",
        "id":"unique1",
        "label":"t:sections.text.settings.text.label",
        "default":"This is a heading"
      }
    ],
    "blocks": [
        {
            "type": "block-1",
			"name": "t:sections.text.blocks.block-1.name",
            "settings":[
                {
                  "type": "text",
                  "id": "unique",
                  "default": "Say something about the author",
                  "label":"t:sections.text.blocks.text.settings.unique.label"
                },
                {
                  "type": "text",
                  "id": "unique2",
				  "default":"Hello world",
                  "label": "t:sections.text.blocks.text.settings.unique2.label"
                }   
            ]
        },
		{
			"type":"block-2",
			"name":"t:sections.text.blocks.block-2.name"
		}
    ],
    "presets": [
    {
      "name": "t:sections.text.presets.name",
	  "blocks": [
       {
          "type": "block-1"
       },
	   {
		  "type": "block-2"
	   }

      ]
    }
  ]
}
{% endschema  %}