{% stylesheet %}
.mystyle{
  color:blue;
  height:100px;
  width:100%;
  background-color:red;
  opacity:0.8;
  border-style:dotted;
  border-radius:25px;
  border-color:yellow;
  border-width:10px;
  text-align:center;
  outline-style:solid;
  outline-offset:15px;
  outline-color:blue;
  text-decoration:underline;
  text-transform:capitalize;
  text-shadow:2px 2px 5px white
}
{% endstylesheet %}
<div>
    <h1 class="mystyle">{{ section.settings.unique1 | escape }}</h1>
    {% for block in section.blocks %}
        {% case block.type %}
            {% when 'text1' %}
               <h2>{{block.settings.unique | escape}}</h2>
        {% endcase %}
    {% endfor %}
</div>

{% schema %}
{
    "name": "t:sections.text.name",
    "tag": "section",
    "class": "spaced-section",
    "settings": [
      {
        "type":"text",
        "id":"unique1",
        "label":"Heading",
        "default":"This is a heading"
      }
    ],
    "blocks": [
        {
            "type": "text",
            "name": "t:sections.text.blocks.text.name",
            "settings":[
                {
                  "type": "text",
                  "id": "unique",
                  "default": "Say something about the author",
                  "label":"Description about author"
                },
                {
                  "type": "text",
                  "id": "unique2",
                  "label": "Image",
                  "default":"Hello world"
                }   
            ]
        },
        {
          "type":"text1",
          "name":"t:sections.text.blocks.text1.name",
          "settings":[
            {
              "type":"text",
              "id":"unique",
              "default":"some text",
              "label":"t:sections.text.blocks.text1.settings.unique3.label"
            }
          ]
        }
    ],
    "presets": [
    {
      "name": "t:sections.text.presets.name",
       "blocks": [
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema  %}