<div>
    {% for block in section.blocks %}
        {% case block.type %}
            {% when 'text' %}
                <h2>{{ block.settings.unique | escape}}<h2>
        {%endcase%}
    {%endfor%}
</div>

{% schema %}
{
    "name": "About author",
    "tag": "section",
    "class": "spaced-section",
    "blocks": [
        {
            "name": "author details",
            "type": "text",
            "settings":[
                {
                "type": "text",
                "id": "unique",
                "default": "Say something about the author",
                "label":"Description about author"
                }
            ]
        }
    ],
    "presets": [
    {
      "name": "t:sections.text.presets.name",
       "blocks": [
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema  %}